@import "tailwindcss";

/* @import "tailwindcss/preflight"; */

@layer base {
  h6 {
    font-size: 0.67em;
  }
}

body {
  /* background-color: black; */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.nav a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  outline: none;
}

.nav a:hover {
  opacity: 1;
  text-decoration-color: inherit;
}

pre span.line {
  display: block;
}